*{box-sizing: border-box}

html {
  font-size: 20px;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #DEDEDE;
}

.container {
    display: flex;
    max-width: 58.500em;
    min-width: 45.000em;
    margin: auto;
}

.header .container {
  align-items: baseline;
  justify-content: space-between;
}

.about .container,
.sidewalks .container,
.noise .container,
.crosswalk .container,
.poi .container,
.footer .container {
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  padding-top: 1.500em;
}

.sidewalks .container,
.noise .container,
.crosswalk .container,
.poi .container {
  padding-bottom: 5.000em;
}

.phone-hand-img {
  width: 43.500em;
  min-height: 24.500em;
  background-image: url(img/phone-hand@1x.png);
  background-size: cover;
  background-position: 50%;
}

.wide-sidewalk-img {
  width: 28.500em;
  height: 16.000em;
  background-image: url(img/wide-sidewalk@1x.png);
  background-size: cover;
  background-position: 50%;
}

.quiet-street-img {
  width: 13.500em;
  height: 24.000em;
  background-image: url(img/quiet_street@1x.png);
  background-size: cover;
  background-position: 50%;
}

.crosswalk-img {
  width: 28.500em;
  height: 28.500em;
  background-image: url(img/crosswalk@1x.png);
  background-size: cover;
  background-position: 50%;
}
.poi-img {
  width: 28.500em;
  height: 16.000em;
  background-image: url(img/interesting-place@1x.png);
  background-size: cover;
  background-position: 50%;
}

.logo {
  font-size: 5.000em;
  font-weight: bold;
  margin-bottom: 5.650rem;
}

.comment,
.comment2 {
  font-size: 0.700em;
  opacity: 0.5;
}

.about {
  margin-bottom: 8.500em;
}

.about-left {
  display: flex;
  flex-direction: column;
  min-width: 13.500em;
  margin-right: 1.500em;
}

.about-desc {
  margin-bottom: 1em;
}

.about-desc:first-child {
  margin-bottom: 10.000em;
  line-height: 0.500em
}

.about-top {
  margin-bottom: 2.500em;
}

.app-link {
  display: block;
  padding: 0.500em 0;
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  text-decoration: none;
}

.app-link-bottom {
  display: block;
  visibility: hidden;
  padding: 0.500em 0;
  text-decoration: none;
  margin-right: 16.500em;
}

.app-link-img {
  vertical-align: middle;
}

.app-link .comment,
.app-link-bottom .comment {
  display: inline-block;
  width: 5.000em;
  padding-left: 0.500em;
  vertical-align: middle;
}

.article-title {
  font-size: 2.400em;
  font-weight: bold;
}

.about-right {
  display: flex;
  position: relative;
}

.about-right .comment {
  position: absolute;
  bottom: -1.100rem;
  right: 0;
}

.article-desc {
  margin-bottom: -0.300em;
}

h1 {
  font-size: 3.200em;
  width: 43.500rem;
  font-weight: bold;
  margin: 0;
}

.title {
  margin-bottom: 2.500em;
}

.sect-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13.500em;
  margin-left: 1.500em;
  margin-right: 1.500em;
}

.sidewalks .container {
  padding-left: 13.500em;
}

.crosswalk .container {
  padding-left: 15.000em;
}

.sidewalks .article-right,
.noise .article-left,
.crosswalk .article-left,
.poi .article-left  {
  display: flex;
  position: relative;
}

.sidewalks .article-right .comment,
.noise .article-left .comment,
.crosswalk .article-left .comment,
.poi .article-left .comment {
  position: absolute;
  bottom: -1.100rem;
  right: 0;
}



h2 {
  margin: 0;
  margin-top: -0.900rem;
}

.footer .container {
  display: flex;
  padding-bottom: 3.000em;
}

.links-1 {
  width: 13.500em;
  margin-left: 1.500em;
  margin-right: 1.500em;
}

a {
  display: block;
  text-decoration: none;
  color: #383B4D;
  padding-bottom: 0.250em;
}

a:visited {
  color: #546E7A;
}

a:hover {
  color: #FF5C00;
}

a:active {
  color: #F44336;
}
